/* STANDARD SIZES -------------------------------------------------------------------- */

$basefont: 16;
$containerwidth: 1100;

/* COLORS HEXACODE -------------------------------------------------------------------- */

$white: #fff;
$grey1: #fbfbfb;
$grey2: #f7f7f7;
$grey3: #999999;
$grey4: #333;
$black: #000;

$lightblue: #e6f3f9;
$blue: #00a2fc;
$darkblue: #0b86c3;

$pink: #e81752;
$darkpink: #ba1242;
$darkpink2: #9e0f38;
$darkpink3: #860d30;

$green: #74af2e;
$darkgreen: #699e29;


$color1 : #006eba;